body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

a {
  color: $dark-yellow;
  &:hover {
    color: $blue;
  }
}

.heading-primary {
  color: $purple;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 2rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(tab-port) {
      letter-spacing: 1rem;
      font-size: 4rem;
    }
  }

  &--sub {
    display: block;
    color: $dark-yellow;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

    @include respond(tab-port) {
      font-size: 2rem;
      letter-spacing: 0.2rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;

  color: $dark-yellow;
  letter-spacing: 0.1rem;
  transition: all 0.2s;

  animation-name: moveInTop;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  @include respond(tab-port) {
    font-size: 4rem;
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: $blue;
  text-align: center;
  @include respond(tab-port) {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.drag-drop {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.lock {
  font-size: 5rem;
  color: $dark-yellow;
  margin-bottom: -2rem;
  &:hover {
    color: $blue;
  }
  &:active,
  :visited,
  :focus {
    color: green;
  }
  @include respond(tab-port) {
    font-size: 7rem;
  }
}

.green {
  color: green;
}

ul li {
  margin-left: 1.5rem;
  &::marker {
    color: $dark-yellow;
    font-size: 1.3em;
  }
}
