.login {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($grey, 0.8),
    rgba($grey-dark, 0.8)
  );
  background-size: cover;
  background-position: top;
  position: relative;
  text-align: center;
  padding-top: 3rem;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
      to right bottom,
      rgba($grey, 0.8),
      rgba($grey-dark, 0.8)
    );
  }

  &__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__logo {
    animation: scale 0.5s ease-out 0.75s;
  }

  // &__text-box {
  // }
}
