.login {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
  background-size: cover;
  background-position: top;
  position: relative;
  text-align: center;
  padding-top: 3rem;

  &__logo {
    animation: scale 0.5s ease-out 0.75s;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
